---
import { getCollection } from 'astro:content';
import DefaultLayout from '~/layouts/default.astro'
import Blockquote from '~components/mdx/blockquote.astro';
import Image from '~components/mdx/image.astro';
import { formatDate } from '~utils/date';

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog')
  return allBlogPosts.map(blog => ({ params: { slug: blog.slug }, props: { entry: blog }}))
}

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter } = await entry.render()
---

<DefaultLayout>
  <article class="container blog">
    <header class="meta">
      <p>Kalwabed Rizki, {formatDate(entry.data.publishDate)} <span>—</span> {remarkPluginFrontmatter.minutesRead}</p>
      <h1>{entry.data.title}</h1>
    </header>
    <main>
      <Content components={{ blockquote: Blockquote, img: Image }} />
    </main>
  </article>
</DefaultLayout>

<style is:global lang="scss">
@use '../../styles/breakpoints' as br;

.blog {
  margin-top: 2rem;

  @include br.desktop {
    margin-top: 5rem;
  }

  .meta {
    margin-bottom: 4rem;

    p {
      color: var(--fc-subtle);
    }

    h1 {
      text-wrap: balance;
    }
  }

  main {
    h2, h3 {
      margin: {
        top: 2.5rem;
        bottom: .3rem;
      };
      line-height: 1.625;
    }

    p {
      color: var(--fc-subtle);
      margin-bottom: 1rem;
    }

    li {
      color: var(--fc-subtle);
      padding-left: 1rem;
      margin: .5rem 0;

      @include br.tablet {
        padding-left: 0;
      }
    }

    :not(pre) code {
      color: var(--iris-12);
      font-weight: 500;

      &::before {
        content: "`";
      }
      &::after {
        content: "`";
      }
    }

    blockquote > p:last-of-type {
      margin-bottom: 0;
    }

    ul, ol {
      margin: 1rem 0;
      padding-left: 1rem;
    }

    pre {
      overflow-x: auto;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 1.75rem;
      padding: 0.75rem;
      border-radius: .2rem;
      border: 1px solid var(--slate-6);
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      code {
        background: transparent;
      }
    }

    a {
      color: var(--iris-9);
      text-decoration: none;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      font-weight: 500;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: var(--iris-8);
      }

      &:focus {
        outline: 2px solid var(--iris-7);
        outline-offset: 2px;
      }
    }    
  }
}
</style>
