---
import DefaultLayout from "~/layouts/default.astro";
import BlogCard from "~components/blog-card.astro";
import SectionTitle from "~components/section-title.astro";
import { getSortedPosts } from "~utils/fetcher";

const sortedBlog = await getSortedPosts();
---

<DefaultLayout title="Blog" desc="Sometimes I write something about technical world and put it here" ogImage="blog.jpg">
  <SectionTitle title="Blog">
    It's a place where I put my lessons learned—mostly from my own experiences—that I want to share.
  </SectionTitle>
  <div class="writing-list">
    {sortedBlog.map(blog => (
      <BlogCard data={{...blog.data, slug: blog.slug}} />
    ))}
  </div>
</DefaultLayout>

<style lang="scss">
  @use '../../styles/breakpoints' as br;

  .writing-list {
    max-width: var(--over-mw);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    justify-items: center;

    @include br.tablet {
      max-width: var(--default-mw);
    }
  }
</style>
