$iris-1: #fdfdff;
$iris-2: #f8f8ff;
$iris-3: #f0f1fe;
$iris-4: #e6e7ff;
$iris-5: #dadcff;
$iris-6: #cbcdff;
$iris-7: #b8baf8;
$iris-8: #9b9ef0;
$iris-9: #5b5bd6;
$iris-10: #5151cd;
$iris-11: #5753c6;
$iris-12: #272962;