---
import DefaultLayout from "~/layouts/default.astro";
import SectionTitle from "~components/section-title.astro";
import { BOOKMARK_TOKEN, BOOKMARK_URL } from "astro:env/server";

interface Bookmark {
  id: string;
  title: string;
  summary: string;
  url: string;
  tags: string;
  created_at: number;
  updated_at: number;
}

// on-demand rendering: https://docs.astro.build/en/guides/on-demand-rendering/
export const prerender = false;

const bookmarkRes = await fetch(BOOKMARK_URL, {
  headers: { "x-token": BOOKMARK_TOKEN },
});
const bookmarks: { data: Bookmark[] } = await bookmarkRes.json();
---

<DefaultLayout
  title="Bookmarks - My reading list"
  desc="Kalwabed public personal bookmarks. I like to surf the Internet. Sometimes I find interesting stuff to read. Mostly about programming and life."
>
  <SectionTitle title="My reading list">
    I like to surf the Internet. Sometimes I find interesting stuff to read.
    Mostly about programming and life.
  </SectionTitle>
  <div class="container">
    {
      bookmarks.data.map((bm) => (
        <div class="bm-card">
          <h2>{bm.title}</h2>
          <p class="">{bm.summary}</p>
          <a href={bm.url}>{bm.url}</a>
        </div>
      ))
    }
  </div>
</DefaultLayout>

<style lang="scss">
  @use "../styles/breakpoints" as br;

  .container {
    margin-top: 18px;
  }

  .bm-card {
    margin-bottom: 1.5rem;

    p {
      color: var(--fc-subtle);
    }
  }
</style>
