---
import DefaultLayout from '~/layouts/default.astro'
import Hero from '~/components/hero.astro'
import SectionHead from '~/components/section-head.astro'
import BlogCard from '~/components/blog-card.astro'
import FeaturedProject from '~/components/featured-project.astro'
---

<DefaultLayout>
  <Hero />
  <SectionHead section="blog" />
  <div class="container">
    <BlogCard />
  </div>
  <SectionHead section='project' />
  <div class="container">
    <FeaturedProject />
  </div>
</DefaultLayout>
