<a href="/">
  <h3>Unified Versus Split Diff</h3>
  <p>For a large change, I don’t want to do a “diff review”, I want to do a proper code review of a codebase at a particular instant in time.</p>
  <small>Jun 21, 2023</small>
</a>

<style lang="scss">
@use '../styles/breakpoints' as br;

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: background var(--transition);

  &:hover {
    @include br.desktop {
      background: var(--slate-2);
    }

    > p {
      color: var(--fc-primary);
    }
  }
}

h3 {
  color: var(--fc-primary);
}

p {
  margin-top: 5px;
  color: var(--fc-subtle);
  transition: color var(--transition);
}

small {
  margin-top: 18px;
  color: var(--fc-primary);
}
</style>
