---
import { Image } from 'astro:assets';
import GgExternal from '~icons/gg/external'
import sample from '~/assets/pf-sample.png';
---

<Image src={sample} alt="Featured project preview" />
<a class="parent-link" href="/">
  <h3>Unified Versus Split Diff</h3>
  <p>For a large change, I don’t want to do a “diff review”, I want to do a proper code review of a codebase at a particular instant in time.</p>
</a>
<a class="ext" href="123">Access website <GgExternal /></a>

<style lang="scss">
@use '../styles/breakpoints' as br;

img {
  height: 100%;
}

a {
  display: flex;
  text-decoration: none;
}

.parent-link {
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  transition: background var(--transition);

  &:hover {
    @include br.desktop {
      background: var(--slate-2);
    }

    > p {
      color: var(--fc-primary);
    }
  }
}

h3 {
  color: var(--fc-primary);
  font-family: var(--font-body);
  font-size: 1rem;
}

p {
  margin-top: 5px;
  color: var(--fc-subtle);
  transition: color var(--transition);
}

.ext {
  align-items: start;
  padding-left: 8px;
  gap: 2px;
  margin-top: 5px;
  color: var(--slate-12);
  font-size: small;

  &:hover {
    text-decoration: underline;
  }
}
</style>
