---
import { Image } from 'astro:assets';
import logo from '~/assets/logo.jpeg';

const isHomepage = Astro.url.pathname === '/'
---

<nav class={`container ${isHomepage ? 'home' : ''}`}>
  <a href="/" aria-hidden={isHomepage ? 'true' : 'false'}>
    <Image src={logo} alt="kalwabed.xyz gradient logo" width={20} height={20} class={isHomepage ? 'hidden' : ''}  />
  </a>
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/uses">Uses</a>
    </li>
  </ul>
</nav>

<style lang="scss">
@use '../styles/breakpoints' as br;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 1rem;
    right: 1rem;
    left: 1rem;
  }
  width: 100%;

  &.home {
    justify-content: center;
  }

  @include br.tablet {
    padding: 0;
  }
}

img {
  border-radius: 999px;

  &.hidden {
    display: none;
  }
}

a {
  color: var(--iris-9);
  text-decoration: none;

  &:hover {
    color: var(--iris-12);
  }
}

ul {
  margin: {
    top: 1rem;
    bottom: 1rem;
  };
  display: flex;
  gap: 2rem;
  background: var(--iris-2);
  border: 1px solid var(--iris-6);
  padding: .2rem 1rem;
  border-radius: 13px;

  @include br.tablet {
    display: flex;
  }
}

li {
  list-style: none;
}
</style>
