---
import GgExternal from '~icons/gg/external'

const links = [
	{
		label: 'About',
		href: '/about'
	},
	{
		label: 'Uses',
		href: '/uses'
	},
	{
		label: 'Github',
		href: 'https://github.com/kalwabed',
		external: true,
	},
	{
		label: 'X',
		href: 'https://x.com/kalwabedrzk',
		external: true,
	},
]
---

<footer class="container">
	<ul>
		{links.map(link => {
			if (link.external) {
				return	<li><a href={link.href} target="_blank" rel="noopener noreferrer">{link.label} <GgExternal /></a></li>
			}
			return	<li><a href={link.href}>{link.label}</a></li>
		})}
	</ul>
	<p>© 2021-present Kalwabed Rizki. All rights reserved</p>
</footer>

<style lang="scss">
	.container {
		max-width: var(--over-mw);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0 .5rem;
		border-top: 1px solid var(--slate-6);
		opacity: 60%;
		transition: opacity .3s ease;

		&:hover {
			opacity: 100%;
			border-top-color: var(--slate-7);
		}
	}

	ul {
		display: flex;
		gap: 30px;
	}
	
	li {
		list-style: none;
	}

	a {
		display: inline-flex;
		text-decoration: none;
		color: var(--fc-primary);

		&:hover {
			text-decoration: underline;
		}

		& svg {
			width: 15px;
			height: 15px;
		}
	}

	p {
		margin-top: .7rem;
		color: var(--fc-subtle);
	}
</style>
