---
import { Image } from 'astro:assets';
---

<div class="wrapper">
	<Image src="https://www.kalwabed.xyz/favicon.ico" alt="kalwabed.xyz favicon" width={25} height={25}  />
	<b>2023</b>
</div>

<style lang="scss">
	.wrapper {
		background: red;
	}
</style>
