<section>
  <h1>
    <slot />
  </h1>
</section>

<style lang="scss">
  @use '../styles/breakpoints' as br;

  section {
    margin: {
      top: 2rem;
      left: auto;
      right: auto;
      bottom: 32px;
    }

    @include br.tablet {
      margin-top: 69px;
      margin-bottom: 49px;
    }
  }

  h1 {
    font-size: 2.29rem;

    @include br.tablet {
      text-align: center;
    }
  }
</style>
