---
import { Image } from 'astro:assets'
import LogosSvelteIcon from '~icons/logos/svelte-icon'
import GgGlobeAlt from '~icons/gg/globe-alt'
import LogosGithubIcon from '~icons/logos/github-icon'
import DefaultLayout from '~/layouts/default.astro'
import faviconExample from '~/assets/logo.jpeg'

export function getStaticPaths() {
  return [
    {
      params: { slug: 'omaewa' }
    }
  ]
}
---

<DefaultLayout>
  <div class="container">
    <article>
      <div class="project-title">
        <Image src={faviconExample} alt="Example project" width="30" height="30"   />
        <h2>Tuantanah</h2>
      </div>
      <div class="project-side">
        <Image src="/proj-example.png" class="cover" alt="Example project" width="660" height="380"   />
        <div class="meta">
          <div class="stack">
            <h4>Tech stacks</h4>
            <div class="tech">
              <div><LogosSvelteIcon /> Svelte</div>
              <div><LogosSvelteIcon /> Svelte</div>
              <div><LogosSvelteIcon /> Svelte</div>
            </div>
          </div>
          <div class="stack">
            <h4>Demo</h4>
            <a href="/123"><GgGlobeAlt /> apakahreal.com</a>
          </div>
          <div class="stack">
            <h4>Source</h4>
            <a href="/123"><LogosGithubIcon /> Github</a>
          </div>
          <div class="stack">
            <h4>Year</h4>
            <p>2023</p>
          </div>
        </div>
      </div>
      <div class="desc">
        <p>
          So I started to walk into the water. I won't lie to you boys, I was terrified. But I pressed on, and as I made my way past the breakers a strange calm came over me. I don't know if it was divine intervention or the kinship of all living things but I tell you Jerry at that moment, I was a marine biologist.
        </p>
      </div>
    </article>
  </div>
</DefaultLayout>

<style lang="scss">
@use '../../styles/breakpoints' as br;

.container {
  margin-top: 2rem;
  max-width: var(--over-mw);
}

.project-title {
  display: flex;
  align-items: center;
  gap: 1rem;

  & img {
    border-radius: 999px;
  }
}

h2 {
  font-size: 2.25rem;
}

.project-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: .375rem;

  @include br.tablet {
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .cover {
    width: 100%;
    height: 230px;
    border-radius: 0.3125rem;

    @include br.tablet {
      width: 550px;
      height: 330px;
    }

    @include br.desktop {
      width: 660px;
      height: 380px;
    }
  }

  .meta {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background: var(--slate-3);
    border: 1px solid var(--slate-6);
    border-radius: .25rem;
    padding: 1rem;

    @include br.tablet {
      gap: .5rem;
      padding: 1.2rem;
      min-height: 330px;
    }

    @include br.desktop {
      gap: 1rem;
      width: 400px;
      min-height: 380px;
    }

    & h4 {
      font-family: var(--font-body);
      margin-bottom: .2rem;
    }

    a {
      color: var(--fc-primary);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: .2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.stack {
  display: flex;
  flex-direction: column;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;

  & > div {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
  }
}

.desc {
  margin-top: 1.5rem;
  max-width: 550px;

  @include br.desktop {
    max-width: 660px;
  }
}
</style>
