---
import DefaultLayout from '~/layouts/default.astro'
---

<DefaultLayout>
  <div class="container">
    <h1>Projects</h1>
  </div>
</DefaultLayout>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    margin-top: 69px;
  }
</style>
