---
import ProjectCard from "~/components/project-card.astro";
import DefaultLayout from "~/layouts/default.astro";
import SectionTitle from "~components/section-title.astro";
import { getSortedProjects } from "~utils/fetcher";

const projects = await getSortedProjects();
---

<DefaultLayout title="Projects" desc="Projects that I managed to build" ogImage="projects.jpg">
  <SectionTitle title="Projects">
    List of traces and stories of the projects I've worked on that I can document. Most of the ones that aren't documented are still in my GitHub repository.
  </SectionTitle>
  <div class="project-list">
    {projects.map(project => (
      <ProjectCard project={{...project.data, slug: project.slug}} />
    ))}
  </div>
</DefaultLayout>

<style lang="scss">
  @use '../../styles/breakpoints' as br;

  .project-list {
    max-width: var(--over-mw);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    justify-items: start;

    @include br.tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 5rem;
      justify-items: end;
    }
  }
</style>
