---
import DefaultLayout from '~/layouts/default.astro'
import ProjectCard from '~/components/project-card.astro'
---

<DefaultLayout>
  <div class="container">
    <h1>Projects</h1>
  </div>
  <div class="project-list">
    <ProjectCard />
    <ProjectCard />
  </div>
</DefaultLayout>

<style lang="scss">
  @use '../../styles/breakpoints' as br;

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 69px;
  }

  h1 {
    margin-bottom: 32px;
    font-size: 2.29rem;

    @include br.tablet {
      text-align: center;
      margin-bottom: 69px;
    }
  }

  .project-list {
    max-width: var(--over-mw);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    justify-items: start;

    @include br.tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 5rem;
      justify-items: end;
    }
  }
</style>
