---
import 'gardevoir/dist/index.min.css'
import '~/styles/global.scss'
import Navbar from '~/components/navbar.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalwabed Rizki - Software engineer</title>
  </head>
  <body>
    <Navbar />
    <main id="root">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
@use '../styles/breakpoints' as br;

main {
  padding: 0 1rem;

  @include br.tablet {
    padding: 0;
  }
}
</style>
